<ion-header>
    <ion-toolbar>
        <ion-title color="primary">
            Login
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content text-center>
    <ion-grid>
        <ion-row>
            <ion-col [size]="12" [sizeMd]="6" [offsetMd]="3">
                <ion-card>
                    <ion-card-header [color]="'primary'">
                        <ion-card-title>
                            Login
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <form [formGroup]="formGroup" novalidate>
                            <ion-item>
                                <ion-label color="primary" position="floating">Email</ion-label>
                                <ion-input type="text" formControlName="email"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label color="primary" position="floating">Password</ion-label>
                                <ion-input type="password" formControlName="password"></ion-input>
                            </ion-item>
                        </form>
                        <ion-row margin-vertical>
                            <ion-col [size]="12" [sizeSm]="6" [offsetSm]="3">
                                <ion-button color="danger" expand="full" size="large" fill="solid"
                                            (click)="login()">Login
                                </ion-button>
                            </ion-col>
                        </ion-row>
                        <p>
                            <ion-button color="danger" expand="full" size="small" fill="clear"
                                        (click)="forgetPassword()">Forget Password?
                            </ion-button>
                            <ion-button expand="full" size="small" fill="clear"
                                        (click)="forgetUserName()">Forget UserName?
                            </ion-button>
                            <ion-label>Not Registered yet?
                                <a style="text-decoration: none" color="danger" (click)="register()">SignUp</a>
                            </ion-label>
                        </p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
