<ion-header>
    <ion-toolbar [color]="'primary'">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="auth/login"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Registration
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content text-center padding>
    <ion-item lines="none">
        <img class="chat-app-logo" src="../../../assets/icon/icon.png" alt="app-icon">
    </ion-item>
    <form [formGroup]="formGroup" novalidate>
        <ion-item [ngClass]="displayFieldCss('name')">
            <ion-label color="primary" position="floating">Full Name</ion-label>
            <ion-input type="text" formControlName="name"
                       class="form-control"></ion-input>
        </ion-item>
        <app-field-error-message [displayError]="isFieldValid('name')"
                                 [errorMsg]="getErrorMessages('name')"></app-field-error-message>
        <ion-item>
            <ion-label color="primary" position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <app-field-error-message [displayError]="isFieldValid('email')"
                                 [errorMsg]="getErrorMessages('email')"></app-field-error-message>

        <ion-item>
            <ion-label color="primary" position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <app-field-error-message [displayError]="isFieldValid('password')"
                                 [errorMsg]="getErrorMessages('password')"></app-field-error-message>
        <ion-item>
            <ion-label color="primary" position="floating">Country</ion-label>
            <ion-input type="text" (ionFocus)="openCountrybModal()" formControlName="country"></ion-input>
        </ion-item>
        <app-field-error-message [displayError]="isFieldValid('country')"
                                 [errorMsg]="getErrorMessages('country')"></app-field-error-message>
        <ion-item>
            <ion-label color="primary" position="floating">Phone Number</ion-label>
            <ion-input type="tel" minlength="10" maxlength="10" inputmode="numeric" appOnlyNumber
                       formControlName="phone"></ion-input>
        </ion-item>
        <app-field-error-message [displayError]="isFieldValid('phone')"
                                 [errorMsg]="getErrorMessages('phone')"></app-field-error-message>
    </form>
    <ion-row margin-vertical>
        <ion-col [size]="12" [sizeMd]="3">
            <ion-button color="danger" expand="full" size="large" fill="solid"
                        (click)="register()">Register
            </ion-button>
        </ion-col>
    </ion-row>
</ion-content>
