<ion-content fullscreen>
    <ion-item class="close-fake" lines="none" text-center>
        <ion-button slot="end" (click)="close()" fill="clear" color="secondary">
            <ion-icon name="close" slot="end"></ion-icon>
        </ion-button>

        <ion-button (click)="zoom(true)" fill="clear" color="secondary">
            <ion-icon name="add" slot="start"></ion-icon>
            in
        </ion-button>

        <ion-button (click)="zoom(false)" fill="clear" color="secondary">
            <ion-icon name="remove" slot="start"></ion-icon>
            out
        </ion-button>
    </ion-item>

    <ion-slides [options]="sliderOpts" #slider>
        <ion-slide>
            <div class="swiper-zoom-container">
                <img src="{{ img }}" alt="">
            </div>
        </ion-slide>
    </ion-slides>

</ion-content>
