<!--<div class="row">-->
<!--<div class="col-md-6">-->
<!--<div *ngIf="fileUpload.status==='error'">-->
<!--<div [innerHTML]="fileUpload.message"></div>-->
<!--</div>-->
<!--<div *ngIf="fileUpload.status==='progress'">-->
<!--<div class="progress" style="height: 20px;margin-bottom:20px;">-->
<!--<div class="progress-bar" role="progressbar" [style.width.%]="fileUpload.message" aria-valuenow="25"-->
<!--aria-valuemin="0" aria-valuemax="100">{{fileUpload.message}}%-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">-->
<!--<div class="form-group">-->
<!--<input type="text" formControlName="name" class="form-control" placeholder="Name">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<input type="file" name="profile" (change)="onSelectedFile($event)"/>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<button type="submit" class="btn btn-success">Upload</button>-->
<!--</div>-->
<!--</form>-->
<!--<div *ngIf="fileUpload.status==='success'">-->
<!--<img [src]="fileUpload.filePath" height="200px"/>-->
<!--</div>-->
<!--<p>{{ error }}</p>-->
<!--</div>-->
<!--</div>-->
<ion-header>
    <ion-toolbar [color]="'primary'">
        <ion-title>
            Upload Image
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <div *ngIf="fileUpload.status==='error'">
                    <div [innerHTML]="fileUpload.message"></div>
                </div>
                <div *ngIf="fileUpload.status==='progress'">
                    <div class="progress" style="height: 20px;margin-bottom:20px;">
                        <div class="progress-bar" role="progressbar" [style.width.%]="fileUpload.message"
                             aria-valuenow="25"
                             aria-valuemin="0" aria-valuemax="100">{{fileUpload.message}}%
                        </div>
                    </div>
                </div>
                <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                    <ion-input type="file" name="file" (change)="onSelectedFile($event)" multiple></ion-input>
                </form>
                <ion-button class="save-btn" color="secondary" expand="block" size="large" fill="solid"
                            (click)="onSubmit()">Upload
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

