<ion-header>
  <ion-toolbar>
    <ion-title color="primary">
      Forget UserName
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content text-center>
  <form [formGroup]="formGroup" novalidate>
    <ion-item padding-horizontal>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
  </form>
  <ion-row margin-vertical>
    <ion-col>
      <ion-button color="secondary" expand="full" class="forget-username-btn" (click)="forgetUserName()">Submit
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button color="danger" expand="full" fill="clear"
                  [routerLink]="['/auth/login']">Login
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="primary" [routerLink]="['/']" expand="full"
                  fill="clear">Home!!
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>
