<ion-header>
    <ion-toolbar [color]="'primary'">
        <!--        <ion-buttons slot="start">-->
        <!--            <ion-back-button defaultHref="/connections/chat-list"></ion-back-button>-->
        <!--        </ion-buttons>-->
        <ion-buttons slot="start">
            <ion-avatar style="width: 2rem;height: 2rem;" class="profile-pic" (click)="loadConnectionProfile()">
                <ion-img [src]="receiverUser?.user?.profilePicLink"></ion-img>
            </ion-avatar>
            <ion-label padding-start text-capitalize>{{receiverUser?.full_name}}</ion-label>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content #content class="chat-page">
    <div class="message-wrap">
        <div *ngFor="let msg of messages"
             class="message {{msg.position}}">
            <img class="user-img" [src]="msg.img" alt="">
            <!--<ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner>-->
            <div class="msg-detail">
                <div class="msg-content">
                    <span class="triangle"></span>
                    <p class="line-breaker ">{{msg.content}}</p>
                    <span style="float: right; font-size: 12px;">{{msg.time | amLocale:'en' | amTimeAgo}}</span>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar class="chat-toolbar">
        <ion-textarea #myInput id="myInput" rows="1" maxLength="500" (keyup)="resize()" [(ngModel)]="userInput"
                      class="chat-textarea" placeholder="Send a message"></ion-textarea>
        <ion-buttons slot="end" class="chat-camera-mic">
            <ion-button class="btn-mic" (click)="sendMessage()">
                <ion-icon name="send"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
