<ion-app>
    <ion-split-pane>
        <ion-menu type="overlay">
            <ion-header>
                <ion-toolbar>
                    <ion-title>Menu</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                        <ion-item (click)="openChat(p.url)">
                            <ion-avatar slot="start" class="profile-pic">
                                <ion-img src="{{p.icon}}"></ion-img>
                            </ion-avatar>
                            <ion-label>
                                {{p.title}}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
                <ion-item (click)="logout()">
                    <ion-icon slot="start" name="log-out"></ion-icon>
                    <ion-label>
                        Log out
                    </ion-label>
                </ion-item>
            </ion-content>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>
