<ion-header>
    <ion-toolbar [color]="'primary'">
        <ion-title>Countries</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">Close</ion-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>


<ion-content>
    <ion-searchbar
            [placeholder]="'Search Country'"
            [showCancelButton]="true"
            (ionInput)="setFilteredItems($event)"
            (ionCancel)="onCancel($event)">
    </ion-searchbar>
    <ion-list>
        <ion-item *ngFor="let item of items" (click)="itemSelected(item)" text-capitalize>
            {{item.name}}
            <ion-note slot="end">{{item.dial_code}}</ion-note>
        </ion-item>
    </ion-list>
</ion-content>
